<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ActiveStore" value="FR"/>

		<add key="DE_TemuAppKey" value="393154069b4d223786049f0b6787522e"/>
		<add key="DE_TemuAppSecret" value="54bab7c1635c1464c2549630fabc8c861c9aa3c8"/>
		<add key="DE_ApiUrl" value="https://openapi-eu.temu.com/router"/>
		<add key="DE_NewApiUrl" value="https://openapi-b-eu.temu.com/openapi/router"/>
		<add key="DE_TemuAccessToken" value="eplblym0e6gcrxol6xgdwbghbmerebcezjapaoarkmtzrssbziv3fk4iwvj"/>
		<add key="DE_TemuMallId" value=""/>
		<add key="DE_TemuTokenExpiry" value="2027-03-25"/>
		<add key="DE_FTP-Server" value="ftp://tyretyre.de"/>
		<add key="DE_FTP-User" value="Temu"/>
		<add key="DE_FTP-Password" value="B!msr!5Y6WT3r"/>
		<add key="DE_SockFile" value="/download/stock/stock_mcpneu_temu.csv"/>
		<add key="DE_TemuShippingTemplateId" value="LFT-15670905130803342993"/>
		<add key="DE_TemuTireCategoryId" value="19938"/>
		<add key="DE_TemuOriginRegion1" value="Mainland China"/>
		<add key="DE_TemuOriginRegion2" value="Zhejiang"/>
		<add key="DE_OrderFtpHost" value="ftp://tyretyre.de"/>
		<add key="DE_OrderFtpFolder" value="/upload/order/"/>
		<add key="DE_OrderFtpUser" value="Temu"/>
		<add key="DE_OrderFtpPassword" value="B!msr!5Y6WT3r"/>
		<add key="DE_TrackingFtpPath" value="ftp://tyretyre.de/download/tracking/McPneu_TEMU_tracking.csv"/>
		<add key="DE_TrackingCarrierId" value="998264853"/>
		<add key="DE_TrackingWarehouseId" value="WH-08287007785102993"/>
		<add key="DE_CarrierMap" value="GLS:998265201,GLS (DE):998265201,DPD:998264853,DPD (DE):998264853"/>
		<add key="DE_RegionId" value="76"/>

		<add key="FR_TemuAppKey" value="50ae0772c26a196a28d6ffae8dfb7ebe"/>
		<add key="FR_TemuAppSecret" value="8cf49da18f6964c9ca0010737dd11d3293bf6c08"/>
		<add key="FR_ApiUrl" value="https://openapi-eu.temu.com/router"/>
		<add key="FR_NewApiUrl" value="https://openapi-b-eu.temu.com/openapi/router"/>
		<add key="FR_TemuAccessToken" value="eplqzingg73a6dydfwjwddnhegx9gxrkpspokasf4xfagj8m8oz2jhaohp5"/>
		<add key="FR_TemuMallId" value="670702095637152"/>
		<add key="FR_TemuTokenExpiry" value="2027-03-25"/>
		<add key="FR_FTP-Server" value="ftp://tireftp.mcpneu.com"/>
		<add key="FR_FTP-User" value="Temu_FR"/>
		<add key="FR_FTP-Password" value="gZprcwWm=kbQ$7SF"/>
		<add key="FR_SockFile" value="/download/stock/stock_mcpneu_fr_temu.csv"/>
		<add key="FR_TemuShippingTemplateId" value="LFT-19610889276334182720"/>
		<add key="FR_TemuTireCategoryId" value="19940"/>
		<add key="FR_TemuOriginRegion1" value="Mainland China"/>
		<add key="FR_TemuOriginRegion2" value="Zhejiang"/>
		<add key="FR_OrderFtpHost" value="ftp://tireftp.mcpneu.com"/>
		<add key="FR_OrderFtpFolder" value="/upload/order/"/>
		<add key="FR_OrderFtpUser" value="Temu_FR"/>
		<add key="FR_OrderFtpPassword" value="gZprcwWm=kbQ$7SF"/>
		<add key="FR_TrackingFtpPath" value="ftp://tireftp.mcpneu.com/download/tracking/McPneuFR_TEMU_tracking.csv"/>
		<add key="FR_TrackingCarrierId" value="998264849"/>
		<add key="FR_TrackingWarehouseId" value="WH-08287007785102993"/>
		<add key="FR_CarrierMap" value="DPD:998264849,DPD (FR):998264849,GLS:547987123,GLS (FR):547987123"/>
		<add key="FR_RegionId" value="69"/>

		<add key="RedirectUrl" value="http://localhost:5000/callback/"/>
		<add key="TokenWarningDays" value="30"/>
		<add key="OrdersIntervalMinutes" value="30"/>
		<add key="PriceStockIntervalMinutes" value="60"/>
		<add key="ProductIntegrationMinutes" value="60"/>
		<add key="PriceChangeReason" value="ERP price sync"/>
	</appSettings>
</configuration>
