<configuration>
	<appSettings>
		<add key="TemuAppKey" value="393154069b4d223786049f0b6787522e"/>
		<add key="TemuAppSecret" value="54bab7c1635c1464c2549630fabc8c861c9aa3c8"/>
		<add key="RedirectUrl" value="http://localhost:5000/callback/"/>
		<add key="ApiUrl" value="https://openapi-eu.temu.com/router"/>
		<add key="FTP-Server" value="ftp://tyretyre.de"/>
		<add key="FTP-User" value="Temu"/>
		<add key="FTP-Password" value="B!msr!5Y6WT3r"/>
		<add key="SockFile" value="/download/stock/stock_mcpneu_temu.csv"/>
		<add key="NewApiUrl" value="https://openapi-b-eu.temu.com/openapi/router"/>
		<add key="TemuAccessToken" value="eplblym0e6gcrxol6xgdwbghbmerebcezjapaoarkmtzrssbziv3fk4iwvj"/>
		<add key="TemuMallId" value=""/>
		<add key="TemuTokenExpiry" value="2027-03-25"/>
		<add key="TokenWarningDays" value="30"/>
		<add key="TemuShippingTemplateId" value="LFT-15670905130803342993"/>
		<add key="TemuTireCategoryId" value="19940"/>
		<add key="TemuOriginRegion1" value="Mainland China"/>
		<add key="TemuOriginRegion2" value="Zhejiang"/>

		<add key="OrderFtpHost" value="ftp://tyretyre.de" />
		<add key="OrderFtpFolder" value="/upload/order/" />
		<add key="OrderFtpUser" value="Temu" />
		<add key="OrderFtpPassword" value="B!msr!5Y6WT3r" />
		<add key="OrdersIntervalMinutes" value="30" />

		<add key="ProductIntegrationMinutes" value="5" />

		<add key="PriceChangeReason" value="ERP price sync" />
		<add key="TrackingFtpPath" value="ftp://tyretyre.de/download/tracking/McPneu_TEMU_tracking.csv" />
		<add key="TrackingCarrierId" value="998264853" />
		<add key="TrackingWarehouseId" value="WH-08287007785102993" />

		<add key="CarrierMap" value="GLS:998265201,GLS (DE):998265201,DPD:998264853,DPD (DE):998264853" />
	</appSettings>
</configuration>
